@import ../../../styles/helpers

.card
  background-color: $n8
  border-radius: 16px
  padding: 24px 0 48px 0
  display: flex
  flex-direction: column

.header
  text-align: center
  margin-bottom: 32px

.title
  +dm-sans
  +headline-4
  margin-bottom: 12px

.subtitle
  +poppins
  font-weight: 400
  font-size: 16px
  line-height: 24px
  margin-bottom: 24px

.pageContent
  flex-grow: 1
  display: flex
  flex-direction: column

.VerifyDetails
  background: $n50
  border-radius: 20px
  padding: 1em
  margin-bottom: 1em

.changeDetails
  color: $n500
  width: 100%
  text-align: right

.confirmation
  display: flex
  align-items: center

.VerifyDetails__inputs
  margin-bottom: auto
  margin-top: 14px
  flex-grow: 1

.continueButton
  width: 100%
  margin-top: auto

.viewDocumentButton
  margin-top: auto
  margin-bottom: 1em

.adoptSignatureTitle
  font-size: 36px

.adoptSignatureText
  font-size: 16px

.nameConfirm
  margin-top: 1em
  font-size: 24px

.fullWidthButton
  width: 100%
  margin-top: 40px

.signatureSelect
  border-radius: 24px
  box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04)
  display: flex
  justify-content: space-between
  margin: 1em 0
  &:hover
    outline: 2px solid black

.signatureCheckbox
  display: flex
  align-items: center
  justify-content: center

.signatureList
  padding: 0

.pageIcon
  text-align: center
  display: flex
  flex: 1
  align-items: center
  justify-content: center

.ConfirmPage__countdown
  display: flex
  align-items: center
  justify-content: center
  margin-top: 24px

.redirectMessage
  margin-right: 12px
  +dm-sans
  font-size: 16px
  line-height: 16px
  font-weight: 700

.redirectIcon
  -webkit-animation: rotation 1s linear infinite
  -moz-animation: rotation 1s linear infinite
  animation: rotation 1s linear infinite

@keyframes rotation
  from 
    transform: rotate(0deg)
  to 
    transform: rotate(360deg)
    