@import ../../styles/helpers

.modal
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 644px
  max-height: 700px
  overflow: scroll
  background-color: $n8
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.08)
  border-radius: 16px
  padding: 24px 48px 18px 48px

.modal_header
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 32px

.arrowLeft
  position: relative
  left: -200px

.close
  position: relative
  right: -260px

.page_title
  +dm-sans
  +headline-4
  margin-bottom: 12px

.page_subtitle
  +poppins
  font-weight: 400
  font-size: 16px
  line-height: 24px
  margin-bottom: 24px

.continueButton
  width: 100%
  margin-top: 12px
  // margin-bottom: 24px

.checkboxGroup
  margin-bottom: 24px

.checkboxContainer
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 12px

.checkboxGroup_price
  +poppins
  +caption-bold-1
  
.modalSteps
  display: flex
  align-items: center
  justify-content: space-between
  margin: 2em auto 0 auto
  max-width: 45px

.modalStep
  width: 8px
  height: 8px
  border-radius: 10em
  background: $n300

.modalStepActive
  background: black

.use_it
  background: $acc1
  padding: 0px 8px
  border-radius: 8px