@import ../../styles/helpers


.addToCartContainer
  height: 352px
  background-color: #fff
  border: 1px solid #E6E8EC
  border-radius: 24px
  padding: 32px
  display: flex
  flex-direction: column
  margin-bottom: 48px
 
.price
  +dm-sans
  text-align: left
  font-size: 32px
  font-weight: 700
  line-height: 40px
  margin-bottom: 32px

.dropdown
  margin-bottom: auto
  margin-top: 24px

.addToCartButton
  width: 100%
  margin-top: auto
