@import ../../styles/helpers

.dllPayment
  display: flex
  align-items: center
  margin-bottom: 8px
  background-color: $n7
  border-radius: 24px
  height: 80px

.dllIcon
  width: 70px
  margin: 8px
  margin-right: 24px

.dllPaymentTextColumn
  text-align: left

.dllPaymentText
  +poppins
  font-size: 12px
  line-height: 20px
  font-weight: 400
  text-align: left

.learnMore
  text-decoration: underline