@import ../../styles/helpers

.dllPayment
  display: flex
  align-items: center
  margin-bottom: 8px
  background-color: $n7
  border-radius: 24px
  padding: 20px 0px


.dllIcon
  width: 70px
  margin: 8px
  margin-right: 24px

.dllPaymentTextColumn
  text-align: left

.dllPaymentText
  +poppins
  font-size: 12px
  line-height: 20px
  font-weight: 400
  text-align: left

.amount
  +poppins
  +body-bold-2
  font-weight: 600
  margin-right: 4px
  color: $p1

.learnMore
  text-decoration: underline