@import ../../styles/helpers

.productGridContainer
  margin: 0 160px

.title
  margin-top: 80px
  +dm-sans
  font-weight: 700
  font-size: 32px
  list-height: 40px
  text-align: left

.grid
  display: flex
  margin-top:48px
  margin-bottom: 48px
  flex-wrap: wrap
  justify-content: space-between

.showMoreButton
  width: 162px
  margin-bottom: 80px

.productCard
  margin-right: 32px
  padding-bottom: 32px