@import ../../../../styles/helpers

.page_title
  +dm-sans
  +headline-4
  margin-bottom: 12px

.page_subtitle
  +poppins
  font-weight: 400
  font-size: 16px
  line-height: 24px
  margin-bottom: 24px

.useItContainer
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  margin-bottom: 24px 

.financingTypeContainer
   width: 50%

.financingTypeContainer_title
  +poppins
  font-size: 24px
  margin-bottom: 12px
 

.financingTypeContainer_button
  width: 100%
  padding: 24px
  border: 2px solid #E6E8EC
  border-radius: 8px
  margin-bottom: 40px
  text-align: center


.financingTypeContainer_price
  +poppins
  +body-bold-1

.financingTypeContainer_price_subtitle
  +caption-1
  +poppins

.financingTypeContainerProperties
  text-align: left