@font-face {
  font-family: Outfit;
  src: url(fonts/Outfit-Bold.ttf);
  font-weight: 700, bold;
  font-style: normal;
}

@font-face {
  font-family: Outfit;
  src: url(fonts/Outfit-Bold.ttf);
  font-weight: 600, medium;
  font-style: normal;
}

@font-face {
  font-family: Outfit;
  src: url(fonts/Outfit-SemiBold.ttf);
  font-weight: 600, semi-bold;
  font-style: normal;
}

@font-face {
  font-family: Outfit;
  src: url(fonts/Outfit-Regular.ttf);
  font-weight: 400, regular;
  font-style: normal;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.woot-widget-holder.woot-elements--right.woot-widget--without-bubble.woot-widget--without-bubble{
  bottom: 104px!important;
}