@import ../../styles/helpers

.bannerBackground
  background: url("images/Content.png") no-repeat
  background-size: auto 430px
  background-position: center bottom
  min-height: 687px

.bannerContent
  position: relative
  top: 96px

.bannerTitle
  +display-xl
  +bold
  margin-bottom: 32px
  
.bannerSubtitle
  font-size: 96px
  font-weight: 700
  line-height: 96px
  margin-bottom: 16px
  +dm-sans

.bannerPrice
  font-weight: 700
  margin-bottom: 16px
  +poppins
  +body-1

.line
  position: absolute
  left: 0px
  width: 100vw
  height: 1px
  background: $n100
